.topbar {
  display: none;
}

contentsection {
  padding: 16px;
  margin: 16px;
  line-height: 4px;
  ;
}

.sidebar {
  padding: 20px;
  background-color: #f2f2f2;

}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow-y: auto;
  z-index: 100;
}

.content {
  padding: 20px;
}

.code-preview {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;

}


.hidden {
  display: none !important;
}

.version {
  color: black !important;
}

.tabsContent {
  text-align: left;
  padding: 24px;
}

.code-preview pre {
  background-color: black;
  padding: 4px;
}

.code-preview pre code {
  color: white;
}